[submodule "lib/nitro"]
	path = lib/nitro
	url = https://github.com/tud-zih-energy/nitro.git
[submodule "lib/wxWidgets"]
	path = lib/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
